{% extends 'base.html.twig' %}
{% block title %} Conditions Générales de Vente {% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row col-10">

            <div class="col-10 offset-2 text-left text-wrap">
                <h3 class="mt-4 mb-2">PREAMBULE</h3>
                <p class="my-2">
                    La société LA CHOUETTE SELLERIE, société par actions simplifiée au capital de 100 000 euros, immatriculée au Registre du Commerce et des Sociétés de Dijon sous le numéro 000 000 000, ayant son siège social 37 rue de Mulhouse 21000 Dijon, email : contact@lachouettesellerie.fr (ci-après le « VENDEUR »  « LACHOUETTESELLERIE.FR») commercialise sur la plateforme www.lachouettesellerie.fr (ci-après le « SITE ») des produits liés à la pratique des sports équestres (ci-après « PRODUITS »).
                </p>
                <p class="my-2">
                    Les présentes conditions générales de vente (ci-après les «Conditions Générales») s’appliquent à tout achat que vous effectuez en tant que personne physique (ci-après le « CLIENT», « Vous ») sur le SITE auprès du VENDEUR.
                </p>
                <h3 class="my-4 mb-2">IMPORTANT</h3>
                <p class="mt-2 mb-5">
                    Toute commande passée sur le SITE implique obligatoirement l’acceptation sans réserve du CLIENT des présentes conditions générales.<br>
                </p>
                <h5>Article 1. Définitions</h5>
                <p class="my-3">
                    Les termes employés ci-après ont, dans les présentes Conditions Générales, la signification suivante :<br>
                    « CLIENT » : désigne le cocontractant du VENDEUR, qui garantit avoir la qualité de consommateur telle que définie par le droit et la jurisprudence française. A ce titre, il est expressément prévu que le CLIENT agit en dehors de toute activité habituelle ou commerciale.<br>
                    « LIVRAISON » : désigne la première présentation des PRODUITS commandés par le CLIENT à l’adresse de livraison indiquée lors de la commande.<br>
                    « PRODUITS » : désigne l’ensemble des produits disponibles sur le SITE.<br>
                    « TERRITOIRE » : désigne l’ensemble des pays du monde dans lesquels le VENDEUR effectue des livraisons à l’exclusion de l’Espagne, la Belgique et la Hollande pour lequel , le VENDEUR a des sites dédiés.<br>
                </p>
                <h5>Article 2. Objet</h5>
                <p class="my-3">
                    Les présentes Conditions Générales régissent la vente en ligne par le VENDEUR à ses CLIENTS des PRODUITS.<br>
                    Il est rappelé que le SITE s’adresse aux seuls consommateurs et que les professionnels doivent contacter le service commercial du VENDEUR afin de bénéficier de conditions contractuelles distinctes.<br>
                </p>
                <h5>Article 3. Acceptation des conditions générales</h5>
                <p class="my-3">
                    Le CLIENT s’engage à lire attentivement les présentes Conditions Générales et à les accepter, avant de procéder au paiement d’une commande de PRODUITS passée sur le SITE.<br>
                    Les présentes Conditions Générales sont référencées en bas de chaque page du SITE au moyen d’un lien et doivent être consultées avant de passer la commande. Le CLIENT est invité à lire attentivement, télécharger, imprimer les Conditions Générales et à en conserver une copie.<br>
                    Le VENDEUR conseille au CLIENT de lire les Conditions Générales à chaque nouvelle commande, la dernière version desdites Conditions s’appliquant à toute nouvelle commande de PRODUITS.<br>
                    En cliquant sur le premier bouton pour passer la commande puis sur le second pour confirmer ladite commande, le CLIENT reconnaît avoir lu, compris et accepté les Conditions Générales sans limitation ni condition.<br>
                    Les présentes Conditions Générales sont modifiables à tout moment sans préavis par LACHOUETTESELLERIE.FR
                </p>
                <h5>Article 4. Achat de produits sur le SITE</h5>
                <p class="my-3">
                    Pour pouvoir acheter un PRODUIT, le CLIENT doit être âgé d’au moins 18 ans et disposer de la capacité légale ou, s’il est mineur, être en mesure de justifier de l’accord de ses représentants légaux.<br>
                    Le CLIENT sera invité à fournir des informations permettant de l’identifier en complétant le formulaire disponible sur le SITE. Le signe (*) indique les champs obligatoires qui doivent être remplis pour que la commande du CLIENT soit traitée par le VENDEUR. Le CLIENT peut vérifier sur le SITE le statut de sa commande.<br>
                    Le suivi des LIVRAISONS peut, le cas échéant, être effectué en utilisant les outils de suivi en ligne de certains transporteurs. Le CLIENT peut également contacter le service commercial du VENDEUR à tout moment par le formulaire de Contact en ligne afin d’obtenir des informations sur le statut de sa commande.<br>
                    Les informations que le CLIENT fournit au VENDEUR  lors d’une commande doivent être complètes, exactes et à jour. Le VENDEUR se réserve le droit de demander au CLIENT de confirmer, par tout moyen approprié, son identité, son éligibilité et les informations communiquées.
                </p>
                <h5 class="mb-4">Article 5. Commandes</h5>
                <h6>Article 5.1. Caractéristique des produits</h6>
                <p class="my-3">
                    Le VENDEUR s’engage à présenter les caractéristiques essentielles des PRODUITS sur les fiches d’information disponibles sur le SITE et les informations obligatoires que le CLIENT doit recevoir en vertu du droit applicable.<br>
                    Le CLIENT s’engage à lire attentivement ces informations avant de passer une commande sur le SITE. Sauf indication expresse contraire sur le SITE, tous les PRODUITS vendus par le VENDEUR sont neufs et conformes à la législation européenne en vigueur et aux normes applicables en France.
                </p>
                <h6>Article 5.2. Procédure de commande</h6>
                <p class="my-3">
                    Les commandes de PRODUITS sont directement passées sur le SITE. Pour effectuer une commande, le CLIENT doit suivre les étapes décrites ci-dessous
                </p>
                <h6>5.2.1. Sélection des PRODUITS et options d’achat</h6>
                <p class="my-3">
                    Le CLIENT devra sélectionner le(s) PRODUIT(s) de son choix en cliquant sur le(s) PRODUIT(s) concerné(s) et en choisissant les caractéristiques et les quantités souhaitées. Une fois le PRODUIT sélectionné, le PRODUIT est placé dans le panier du CLIENT. Ce dernier peut ensuite ajouter à son panier autant de PRODUITS qu’il le souhaite.
                </p>
                <h6>5.2.2. Commandes</h6>
                <p class="my-3">
                    Une fois les PRODUITS sélectionnés et placés dans son panier, le CLIENT doit cliquer sur le panier et vérifier que le contenu de sa commande est correct. Si le CLIENT ne l’a pas encore fait, il sera ensuite invité à s’identifier ou à s’inscrire.<br>
                    Une fois que le CLIENT aura validé le contenu du panier et qu’il se sera identifié / inscrit, s’affichera à son attention un formulaire en ligne complété automatiquement et récapitulant le prix, les taxes applicables et, le cas échéant, les frais de livraison.<br>
                    Le CLIENT est invité à vérifier le contenu de sa commande (y compris la quantité, les caractéristiques et les références des PRODUITS commandés, l’adresse de facturation, le moyen de paiement et le prix) avant de valider son contenu.<br>
                    Le CLIENT peut alors procéder au paiement des PRODUITS en suivant les instructions figurant sur le SITE et fournir toutes les informations nécessaires à la facturation et à la LIVRAISON des PRODUITS. Concernant les PRODUITS pour lesquels des options sont disponibles, ces références spécifiques apparaissent lorsque les bonnes options ont été sélectionnées. Les commandes passées doivent comprendre toutes les informations nécessaires au bon traitement de la commande.<br>
                    Le CLIENT doit également sélectionner le mode de livraison choisi.
                </p>
                <h6>5.2.3. Accusé de réception</h6>
                <p class="my-3">
                    Une fois que toutes les étapes décrites ci-dessus sont complétées, une page apparaît sur le SITE afin d’accuser réception de la commande du CLIENT. Une copie de l’accusé de réception de la commande est automatiquement adressée au CLIENT par courrier électronique, à condition que l’adresse électronique communiquée par le biais du formulaire d’inscription soit correcte.<br>
                    Le VENDEUR n’envoie aucune confirmation de commande par courrier postal ou par télécopie.
                </p>
                <h6>5.2.4. Facturation </h6>
                <p class="my-3">
                    Pendant la procédure de commande, le CLIENT devra saisir les informations nécessaires à la facturation (le signe (*) indiquera les champs obligatoires devant être remplis pour que la commande du CLIENT soit traitée par le VENDEUR).<br>
                    Le CLIENT doit notamment indiquer clairement toutes les informations relatives à la LIVRAISON, en particulier l’adresse exacte de LIVRAISON, ainsi que tout éventuel code d’accès à l’adresse de LIVRAISON.<br>
                    Le CLIENT doit également préciser le moyen de paiement choisi.<br>
                    Ni le bon de commande que le CLIENT établit en ligne, ni l’accusé de réception de la commande que le VENDEUR envoie au CLIENT par courrier électronique ne constituent une facture. Quel que soit le mode de commande ou de paiement utilisé, le CLIENT recevra l’original de la facture à la LIVRAISON des PRODUITS, à l’intérieur du colis ou téléchargeable sur le site dans mon espace mon compte.
                </p>
                <h6>Article 5.3. Date de la commande </h6>
                <p class="my-3">
                    La date de la commande est la date à laquelle le VENDEUR accuse réception en ligne de la commande. Les délais indiqués sur le SITE ne commencent à courir qu’à partir de cette date.
                </p>
                <h6>Article 5.4. Prix </h6>
                <p class="my-3">
                    Pour tous les PRODUITS, le CLIENT trouvera sur le SITE des prix affichés en euros toutes taxes comprises, ainsi que les frais de livraison applicables (en fonction du poids du colis, hors emballage et cadeaux, de l’adresse de LIVRAISON et du transporteur ou mode de transport choisi).<br>
                    Les prix incluent en particulier la taxe sur la valeur ajoutée (TVA) au taux en vigueur à la date de commande.<br>
                    Toute modification du taux applicable peut impacter le prix des PRODUITS à compter de la date d’entrée en vigueur du nouveau taux.<br>
                    Le taux de TVA applicable est exprimé en pourcentage de la valeur du PRODUIT vendu.<br>
                    Les prix des fournisseurs du VENDEUR sont susceptibles d’être modifiés. En conséquence, les prix indiqués sur le SITE peuvent changer. Ils peuvent également être modifiés en cas d’offres ou de ventes spéciales.<br>
                    Les prix indiqués sont valables, sauf erreur grossière.<br>
                    En cas d’erreur de prix, le VENDEUR en informera le CLIENT afin de procéder à une régularisation. Si le CLIENT refuse de régulariser son achat, le VENDEUR procédera à l’annulation de la commande et au remboursement de l’intégralité des sommes réglées lors de la commande.<br>
                    Le prix applicable est celui indiqué sur le SITE à la date à laquelle la commande est passée par le CLIENT.<br>
                    LA CHOUETTE SELLERIE se réserve le droit de modifier ses prix à tout moment et sans préavis. Les prix sont valables uniquement sur le site lachouettesellerie.fr.
                </p>
                <h6>Article 5.5. Disponibilité des PRODUITS</h6>
                <p class="my-3">
                    L’indisponibilité d’un PRODUIT est en principe indiquée sur la page du PRODUIT concerné.<br>
                    En tout état de cause, si l’indisponibilité n’a pas été indiquée au moment de la commande, le VENDEUR  s’engage à informer le CLIENT sans délai si le PRODUIT est indisponible.<br>
                    Le CLIENT obtiendra alors le remboursement de toutes les sommes versées pour les PRODUITS indisponibles au plus tard dans les trente (30) jours du paiement.<br>
                    Tous les articles commandés et non livrés ne sont pas maintenus en commande.<br>
                    En cas de livraison incomplète, les articles non expédiés ne seront pas débités ou seront recrédités en cas de paiement par Paypal.
                </p>
                <h5>Article 6. Droit de rétractation</h5>
                <p class="my-3">
                    Les modalités du droit de rétractation sont prévues dans la « politique de rétractation », politique disponible en Annexe 1 des présentes et accessible en bas de chaque page du SITE via un lien hypertexte.
                </p>
                <h5>Article 7. Paiement</h5>
                <h6>Article 7.1. Moyens de paiement</h6>
                <p class="my-3">
                    Le CLIENT peut payer ses PRODUITS en ligne sur le SITE suivant les moyens proposés par le VENDEUR.<br>
                    Ainsi, le CLIENT peut effectuer le règlement de sa commande :<br>
                    -   Par Carte Bancaire (Carte Bleue, Visa, Mastercard, American Express) – via l’interface de paiement du site sécurisé.<br>
                    -   Par Paypal.<br>
                </p>
                <h6>7.1.1. Paiement par Carte Bancaire</h6>
                <p class="my-3">
                    Le paiement s'effectue sur les serveurs bancaires sécurisés. Aucune information bancaire concernant le CLIENT ne transite via le site LACHOUETTESELLERIE.FR.<br>
                    Le paiement par carte bancaire est donc parfaitement sécurisé.<br>
                    La commande sera ainsi enregistrée et validée dès l'acceptation du paiement.<br>
                    La validation de la commande par carte bancaire vaut mandat de payer le prix toutes taxes comprises de la commande.<br>
                    Le débit du paiement est présenté en banque à l'expédition de votre commande.<br>
                    Grâce au protocole SSL (Secure Socket Layer) les coordonnées de la  carte de crédit sont cryptées et ne transitent jamais en clair sur le réseau.<br>
                    Le CLIENT peut  transmettre en toute sécurité le numéro de la carte bancaire, la date de validité, le nom du porteur de la carte (nom figurant tel quel sur la carte bancaire) ainsi que le cryptogramme présent au dos de la carte.<br>
                    LACHOUETTESELLERIE.FR n'a en aucun cas accès à ces coordonnées et ne les garde pas sur ses serveurs.<br>
                    Dans le cadre de la lutte contre la fraude à la carte bancaire, et afin de protéger ses CLIENTS contre une utilisation frauduleuse de leur carte bancaire, LACHOUETTESELLERIE.FR pourra demander la fourniture de documents complémentaires:<br>
                    - Justificatif de domicile datant de moins de trois mois ;<br>
                    - Formulaire de vérification d’identité dûment complété et signé par la personne effectuant le paiement ;<br>
                    - Photocopie de la carte d’identité du titulaire de la carte. A défaut de réception de ces documents sous quarante-huit (48) heures suivant la demande de LACHOUETTESELLERIE.FR, votre commande pourra être annulée de plein droit par LACHOUETTESELLERIE.FR et sera considérée comme définitivement supprimée.<br>
                    Les cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires internationales.
                </p>
                <h6>7.1.2. Paiement via Paypal</h6>
                <p class="my-3">
                    Les conditions générales de vente de Paypal sont disponibles en cliquant sur le lien ci-dessous:<br>
                    https://www.paypal.com/fr/webapps/mpp/ua/useragreement-full
                </p>
                <h6>7.1.3. Paiement par code promotion</h6>
                <p class="my-3">
                    Si le CLIENT a en sa possession un libellé de coupon de réduction, il pourra l'utiliser en inscrivant ce code dans la partie du panier de commande dédiée à cet effet.<br>
                    Les coupons de réduction ne sont valables qu’une seule fois par personne. (en magasin OU sur Internet)<br>
                    Les coupons de réduction doivent être utilisés dans le strict respect du libellé de l'opération.<br>
                    Si un code a déjà été utilisé sur le site Internet ou en magasin, la commande sera automatiquement annulée. Pour rappel, les codes promotionnels ne sont valables qu'une seule fois par compte.<br>
                    Les codes de réduction sont par défaut valables sur tous les produits HORS déstockage (sauf information contraire)<br>
                    Malgré notre attention portée à l'application de la réduction, si un coupon validé ne correspondait pas au libellé de l'opération en cours ou si un coupon est validé pour un montant inférieur au montant minimum prévu pour l'application de la réduction, la commande sera annulée automatiquement.<br>
                    Les coupons de réduction sont incessibles et indivisibles et ne peuvent en aucun cas avoir une valeur d’échange ou de remboursement, être vendus ou monnayés sous quelle forme que ce soit. Ils ne sont pas remplacés en cas de perte, de vol ou de destruction et ne peuvent pas être prolongés au-delà de leur durée de validité.
                </p>
                <h6>7.1.4. Paiement express</h6>
                <p class="my-3">
                    Le système de paiement propose de conserver de manière sécurisée les Données des cartes bancaires des Clients pour faciliter l'utilisation de celle-ci lors de prochains paiements sur le site Internet du commerçant, seulement et uniquement à la demande du CLIENT.<br>
                    Ces données ne sont pas destinées à être utilisées à des fins de prospection commerciale. Elles pourront être communiquées, en tant que de besoin, au regard de la finalité mentionnée ci-dessus au commerçant et au sous-traitant de traitement des paiements bancaires dans l'Union Européenne. Les transferts de données rendus nécessaires interviennent dans des conditions et sous des garanties propres à assurer la protection de vos données personnelles.<br>
                    Vous disposez d'un droit d'accès, de rectification, de suppression relatif à vos données. Vous pouvez également vous opposer, sous réserve de justifier d'un motif légitime à ce que vos données fassent l'objet d'un traitement. Ces droits peuvent être exercés, par courrier, auprès de lachouettesellerie.fr qui répercutera votre demande auprès des établissements bancaires concernés, responsables du traitement de vos données bancaires, à l'adresse suivante : LA CHOUETTE SELLERIE, 37 rue de Mulhouse, 21000 Dijon, FRANCE.
                </p>
                <h6>Article 7.2. Date de paiement</h6>
                <p class="my-3">
                    En cas de paiement unique par carte de crédit, le compte du CLIENT sera débité dès l'expédition de PRODUITS passée sur le SITE.<br>
                    En cas de LIVRAISON partielle, seul le montant des produits expédiés sera débité du compte du CLIENT au plus tôt lorsque le colis sera expédié.
                </p>
                <h6>Article 7.3. Retard ou refus de paiement</h6>
                <p class="my-3">
                    Si la banque refuse de débiter une carte ou autre moyen de paiement, le CLIENT devra contacter le Service Client du VENDEUR afin de payer la commande par tout autre moyen de paiement valable.<br>
                    Dans l’hypothèse où, pour quelle que raison que ce soit, opposition, refus ou autre, la transmission du flux d’argent dû par le CLIENT s’avèrerait impossible, la commande serait annulée et la vente automatiquement résiliée.
                </p>
                <h5>Article 8. Preuve et archivage</h5>
                <p class="my-3">
                    Tout contrat conclu avec le CLIENT correspondant à une commande d’un montant supérieur à 120 euros TTC sera archivé par le VENDEUR pendant une durée de dix (10) ans conformément à l’article L. 134-2 du code de la consommation.<br>
                    Le VENDEUR accepte d’archiver ces informations afin d’assurer un suivi des transactions et de produire une copie du contrat à la demande du CLIENT.<br>
                    En cas de litige, le VENDEUR aura la possibilité de prouver que son système de suivi électronique est fiable et qu’il garantit l’intégrité de la transaction.
                </p>
                <h5>Article 9. Transfert de propriété</h5>
                <p class="my-3">
                    Le VENDEUR  reste le propriétaire des PRODUITS livrés jusqu’à leur complet paiement par le CLIENT.<br>
                    Les dispositions ci-dessus ne font pas obstacle au transfert au CLIENT, au moment de la réception par lui, ou par un tiers désigné par lui autre que le transporteur, des risques de perte ou de dommage des PRODUITS faisant l’objet de la réserve de propriété, ainsi que des risques de dommage qu’ils pourront entraîner.
                </p>
                <h5>Article 10. Expédition et Livraison</h5>
                <p class="my-3">
                    Les modalités de LIVRAISON des PRODUITS sont prévues dans la « politique de livraison » visée en Annexe 2 des présentes et accessible en bas de chaque page du SITE via un lien hypertexte.
                </p>
                <h5>Article 11. Emballage</h5>
                <p class="my-3">
                    Les PRODUITS seront emballés conformément aux normes de transport en vigueur, afin de garantir un maximum de protection pour les PRODUITS pendant la LIVRAISON.<br>
                    Les CLIENTS s’engagent à respecter les mêmes normes lorsqu’ils retournent des PRODUITS dans les conditions fixées en Annexe 1 – Politique de rétractation.
                </p>
                <h5>Article 12. Garanties</h5>
                <h6>Article 12.1. Garantie d’accès au site</h6>
                <p class="my-3">
                    Le visiteur ou CLIENT est totalement responsable des moyens d'accès au SITE.<br>
                    Les frais de télécommunication pour accéder à l'Internet et la navigation sur le SITE  sont intégralement à la charge du visiteur ou client.<br>
                    En navigant sur le SITE, vous devenez de facto détenteur d'une licence temporaire pour votre utilisation personnelle.
                </p>
                <h6>Article 12.2. Garanties des produits</h6>
                <p class="my-3">
                    Le certificat de garantie est constitué par la facture. Il convient donc de la conserver.<br>
                    La garantie des PRODUITS vendus sur le SITE se limite dans tous les cas à celle des fabricants.<br>
                    La responsabilité du VENDEUR ne peut être recherchée pour un dommage quel qu’il soit relevant d’un défaut d’utilisation ou d’entretien, de détériorations dues à des erreurs de manipulation, d’utilisations abusives ou non appropriées.<br>
                    Le VENDEUR ne peut être responsable des détériorations et casses dues à une défense de votre cheval.<br>
                    Les PRODUITS ayant fait l’objet de mauvais entretien, mauvais lavage ou essorage sont exclus de la garantie.<br>
                    Le VENDEUR n’est pas non plus responsable des interventions effectuées sur certains PRODUITS par une personne non autorisée par nos services.<br>
                    En dehors des garanties commerciales que LACHOUETTESELLERIE.FR pourrait proposer pour certains Produits, tout CLIENT bénéficie des garanties « légales », pour l’ensemble des PRODUITS, qui sont détaillées ci-dessous.
                </p>
                <h6>Article 12.3. Garantie de conformité</h6>
                <p class="my-3">
                    Il est rappelé que dans le cadre de la garantie légale de conformité, le CLIENT :<br>
                    - bénéficie d’un délai de deux ans à compter de la délivrance du PRODUIT pour agir vis-à-vis du VENDEUR;<br>
                    - peut choisir entre la réparation ou le remplacement du PRODUIT, sous réserve des conditions de coût prévues par l’article L. 211-9 du Code de la consommation ;<br>
                    - est dispensé de rapporter la preuve de l’existence du défaut de conformité du PRODUIT durant les six mois suivant la délivrance du bien. Ce délai est porté à 24 mois depuis le 18 mars 2016, sauf pour les biens d’occasion.<br>
                    Il est précisé que la présente garantie légale de conformité s’applique indépendamment de la garantie commerciale consentie, le cas échéant, sur les PRODUITS.
                </p>
                <h6>Article 12.4. Garantie des vices cachés</h6>
                <p class="my-3">
                    Il est rappelé que le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du Code civil.<br>
                    Dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du Code Civil.
                </p>
                <h5>Article 13. Responsabilité</h5>
                <p class="my-3">
                    La responsabilité du VENDEUR ne pourra en aucun cas être engagée en cas d’inexécution ou de mauvaise exécution des obligations contractuelles imputables au CLIENT, notamment lors de la saisie de sa commande.<br>
                    Le VENDEUR ne pourra être tenu pour responsable, ou considéré comme ayant failli aux présentes, pour tout retard ou inexécution, lorsque la cause du retard ou de l’inexécution est liée à un cas de force majeure telle qu’elle est définie par la jurisprudence des cours et tribunaux français.<br>
                    Il est par ailleurs précisé que le VENDEUR ne contrôle pas les sites web qui sont directement ou indirectement liés au SITE. En conséquence, il exclut toute responsabilité au titre des informations qui y sont publiées. Les liens vers des sites web de tiers ne sont fournis qu’à titre indicatif et aucune garantie n’est fournie quant à leur contenu.
                </p>
                <h5>Article 14. Protection des données personnelles</h5>
                <p class="my-3">
                    Le VENDEUR collecte sur le SITE des données personnelles concernant ses CLIENTS, y compris par le biais de cookies. Les CLIENTS peuvent désactiver les cookies en suivant les instructions fournies par leur navigateur.<br>
                    Les données collectées par le VENDEUR sont utilisées afin de traiter les commandes passées sur le SITE, gérer le compte du CLIENT, analyser les commandes et, si le CLIENT a choisi cette option, lui envoyer des courriers de prospection commerciale, des newsletters, des offres promotionnelles et/ou des informations sur des ventes spéciales, sauf si le CLIENT ne souhaite plus recevoir de telles communications de la part du VENDEUR.<br>
                    Les données du CLIENT sont conservées confidentiellement par le VENDEUR conformément à sa déclaration effectuée auprès de la CNIL, pour les besoins du contrat, de son exécution et dans le respect de la loi.<br>
                    Les CLIENTS peuvent à tout moment se désinscrire en accédant à leur compte ou en cliquant sur le lien hypertexte prévu à cet effet en bas de chaque offre reçue par courrier électronique.<br>
                    Les données peuvent être communiquées, en tout ou partie, aux prestataires de services du VENDEUR intervenant dans le processus de commande. À des fins commerciales, le VENDEUR peut transférer à ses partenaires commerciaux les noms et coordonnées de ses CLIENTS, à condition que ceux-ci aient donné leur accord préalable lors de l’inscription sur le SITE.<br>
                    Le VENDEUR demandera spécifiquement aux CLIENTS s’ils souhaitent que leurs données personnelles soient divulguées. Les CLIENTS pourront changer d’avis à tout moment en contactant le VENDEUR. Le VENDEUR peut également demander à ses CLIENTS s’ils souhaitent recevoir des sollicitations commerciales de ses partenaires.<br>
                    Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le CLIENT bénéficie d’un droit d’accès, de rectification, d’opposition (pour des motifs légitimes) et de suppression de ses données personnelles. Il peut exercer ce droit en adressant un courrier électronique à l’adresse : contact@lachouettesellerie.fr soit en envoyant un courrier à :<br>
                    LA CHOUETTE SELLERIE<br>
                    37 rue de Mulhouse 21000 Dijon<br>
                    FRANCE<br>
                    Il est précisé que le CLIENT doit pouvoir justifier de son identité, soit en scannant une pièce d'identité, soit en adressant au VENDEUR une photocopie de sa pièce d'identité.
                </p>
                <h5>Article 15. Réclamations</h5>
                <p class="my-3">
                    Toute réclamation écrite du CLIENT devra être transmise à l’adresse suivante :<br>
                    <br>
                    LA CHOUETTE SELLERIE<br>
                    37 rue de Mulhouse<br>
                    21000 Dijon<br>
                    FRANCE<br>
                </p>
                <h5>Article 16. Propriété intellectuelle</h5>
                <p class="my-3">
                    Tous les éléments visuels et sonores du SITE, y compris la technologie sous-jacente utilisée, sont protégés par le droit d’auteur, le droit des marques et/ou des brevets.<br>
                    Ces éléments sont la propriété exclusive du VENDEUR. Toute personne qui édite un site web et souhaite créer un lien hypertexte direct vers le SITE doit demander l’autorisation du VENDEUR par écrit.<br>
                    Cette autorisation du VENDEUR ne sera en aucun cas accordée de manière définitive. Ce lien devra être supprimé à la demande du VENDEUR. Les liens hypertextes vers le SITE qui utilisent des techniques telles que le cadrage (framing) ou l’insertion par liens hypertextes (in-line linking) sont strictement interdits.<br>
                    Toute utilisation du nom de domaine LACHOUETTESELLERIE.FR ou la marque déposée LA CHOUETTE SELLERIE est strictement interdite sans accord express et écrit.
                </p>
                <h5>Article 17. LA CHOUETTE SELLERIE : La carte</h5>
                <p class="my-3">
                    La carte de fidélité LA CHOUETTE SELLERIE est valable en magasin et sur Internet. Elle permet au CLIENT ayant effectué cinq achats en deux ans d’obtenir une remise de 5% sur la valeur globale de ses 5 précédents achats à valoir sur son sixième achat (les achats de plus de 2 ans sont considérés comme échus et non comptabilisés).<br>
                    Exemple : Vous avez effectué cinq achats en 2 ans d'une valeur moyenne de 70 € - Total = 350 €<br>
                    Vous bénéficiez alors d'une remise de 17,5 € lors de votre sixième achat.<br>
                    En aucun cas cette remise ne pourra être remboursée au CLIENT.<br>
                    Le programme de fidélité LACHOUETTESELLERIE.FR permet à son titulaire de bénéficier des avantages fidélité suivants dans les conditions ci-après définies uniquement pour la vente en ligne :<br>
                    - Nombre de commandes par jour illimité,<br>
                    - Tous les modes de paiement sont acceptés,<br>
                    - Ne sont pas inscrits sur la carte: L'achat de cartes cadeaux et E-cartes cadeaux, les services, les articles en promotion, soldes, déstockages, la librairie et l'alimentation.<br>
                    Lors de son premier achat en ligne, le CLIENT pourra adhérer au programme fidélité en cochant la case « je m’inscris au programme fidélité » - La carte sera alors créée automatiquement par nos services et reliée au compte du CLIENT.<br>
                    À chaque achat sur le site LACHOUETTESELLERIE.FR, le montant de remise prévisionnelle sera indiqué. Lors du sixième achat (hors remise, hors promo, hors déstockage), le montant de la remise sera déduit du montant total de la commande, à condition que celle-ci soit supérieure ou égale au montant de la remise. Dans le cas contraire, la remise sera reportée.<br>
                    Lors de la préparation de la commande, LACHOUETTESELLERIE.FR vérifiera que la remise « LA CHOUETTE SELLERIE : La Carte » est toujours valable ou n’a pas été utilisée dans un autre magasin.<br>
                    Si un CLIENT commande sur le site LACHOUETTESELLERIE.FR avec sa remise « LA CHOUETTE SELLERIE : La Carte » alors qu’il a également utilisé sa remise en magasin, LACHOUETTESELLERIE.FR le contactera par mail ou par téléphone afin de mettre en place un nouveau paiement.<br>
                    Sans accord des parties, LACHOUETTESELLERIE.FR se réserve le droit d’annuler la commande.
                </p>
                <h5>Article 18. Cartes cadeaux LA CHOUETTE SELLERIE</h5>
                <p class="my-3">
                    Le terme « Carte Cadeau » désigne ci-après l’ensemble des produits vendus par LA CHOUETTE SELLERIE, tels que la carte cadeau physique et l’E-carte cadeau imprimable.
                </p>
                <h6>Article 18.1. Conditions d'utilisation</h6>
                <p class="my-3">
                    La Carte Cadeau est un bon d'achat qui permet à son titulaire de régler ses achats, en une ou plusieurs fois, en complétant si nécessaire avec un autre moyen de paiement accepté : - dans les magasins LA CHOUETTE SELLERIE : espèces, carte bancaire, PNF, virement, chèque cadeau - sur www.lachouettesellerie.fr : carte bancaire, Paypal Les cartes cadeaux et E-cartes cadeaux sont vendues uniquement aux particuliers, pour un montant variable, déterminé par le Client et compris entre cinq (5) € et trois cent euros (300) € ; les montants étant exprimés toutes taxes comprises (TTC). La période de validité d’une Carte Cadeau est de douze (12) mois à compter de sa date d’achat. Qu’elles soient physiques ou imprimables, les Cartes Cadeaux sont actives 30 minutes après l’achat. Le paiement avec la Carte Cadeau peut-être effectué à hauteur du montant de la Carte, jusqu'à l'épuisement du solde ou l'arrivée du terme de validité. En aucun cas les Cartes Cadeaux, même consommées partiellement, ne peuvent être échangées contre des espèces. Les informations du solde de la Carte Cadeau ainsi que la date de validité sont consultables en magasin ou en ligne en se connectant sur son compte LA CHOUETTE SELLERIE, dans la rubrique « Mes Cartes Cadeaux».
                </p>
                <h6>Article 18.2. Commande article</h6>
                <h6>18.2.1. Saisie de votre commande en ligne</h6>
                <p class="my-3">
                    La saisie de la commande se fait selon les instructions précisées en ligne. Le Client s'engage à compléter les champs obligatoires (marqués *), à défaut de quoi, la commande ne pourra être enregistrée. Il est indispensable de créer un compte client sur le Site, pour passer une commande pour la première fois. Le Client s'engage à nous communiquer des informations sincères, nous nous réservons le droit d'opposer un refus de vente dans le cas contraire. La commande est enregistrée après création du compte client et validation du paiement. La commande en ligne n'est effective qu'après la validation du paiement du Client. Le Client reçoit alors un email d'accusé de réception de commande. La E-carte cadeau imprimable est disponible en format PDF dans l’email de confirmation de la commande. Les commandes de cartes cadeaux physiques confirmées sont traitées et expédiées, après réception du paiement, du lundi au vendredi, hors jours fériés. En cas d'incident empêchant le traitement de la commande du Client, celle-ci est annulée et le paiement est annulé et/ou remboursé. Le remboursement est effectué par virement sur le compte bancaire du Client ayant effectué la transaction initiale. Une confirmation de remboursement est adressée par email au Client. Le Client reconnait que les commandes passées auprès de notre service sont fermes et définitives et ne pourront en aucune façon donner lieu à remboursement ni être annulées, sauf application du droit de rétractation. À aucun moment, les sommes encaissées ne pourront être considérées comme des arrhes ou des acomptes. Il est de la responsabilité du Client de s'assurer que les coordonnées qu'il a communiquées lors de sa commande sont correctes et qu'elles permettront au destinataire de recevoir la commande et au Client la confirmation de celle-ci; LA CHOUETTE SELLERIE déclinant toute responsabilité en cas d'erreur du Client. Dans l'hypothèse où le Client ne recevrait pas cette confirmation, il lui incombe de nous contacter via le service clients. La fourniture en ligne de numéro de carte bancaire et la validation de la commande vaudront preuve de l'intégralité de la dite commande et de l'exigibilité des sommes engagées, conformément aux dispositions de la loi du 13 mars 2000. Cette validation vaut signature et acceptation expresse des opérations effectuées sur le Site.
                </p
                <h6>18.2.2. Disponibilité</h6>
                <p class="my-3">
                    En cas de commande d'une ou de plusieurs Cartes Cadeaux qui se révélerai(en)t indisponible(s), le Client sera informé et la commande de l’article indisponible sera annulée.
                </p>
                <h6>18.2.3. Preuve de commande / Paiement</h6>
                <p class="my-3">
                    Sauf preuve contraire, nos registres informatiques constitueront la preuve de l'ensemble des transactions passées entre LA CHOUETTE SELLERIE et le Client. Conformément à la règlementation en vigueur, LA CHOUETTE SELLERIE procède à un archivage des commandes sur un support fiable dans des conditions raisonnables de sécurité. Le Client pourra y avoir accès sur le Site dans l'espace " Mon compte/ Mes factures ". Dans tous les cas, LA CHOUETTE SELLERIE recommande au Client de conserver l'e-mail de validation de sa commande ainsi que sa facture.
                </p>
                <h6>Article 18.3. Facturations et modalités de paiement</h6>
                <p class="my-3">
                    Par défaut, les prix affichés sur le Site sont indiqués en euros et toutes charges comprises. Les Cartes Cadeaux sont des produits monétiques non assujettis à la TVA. La facturation est libellée au nom du Client (nom, adresse) et est émise à la validation de la commande. Elle est ensuite disponible et téléchargeable sur l’espace du Client. L'achat de Cartes Cadeaux ne peut être effectué avec des Cartes Cadeaux. Toutes les commandes de Cartes Cadeaux sont payables en euros via Paypal ou par carte bancaire. LA CHOUETTE SELLERIE accepte les cartes bancaires suivantes : Carte Bancaire, Visa, Mastercard, American Express via l’interface de paiement du site sécurisé. Dans le cas de contrôles anti-fraude ayant pour but de sécuriser les transactions de ses Clients, LA CHOUETTE SELLERIE sera en droit de demander au Client de fournir un ou plusieurs justificatifs de domicile et/ou copie de carte d'identité par e-mail ou fax avant de valider sa commande. La commande ne sera alors définitive qu'à réception, par LA CHOUETTE SELLERIE, de ces documents et envoi d'un e-mail de confirmation. A défaut de la réception de ces pièces ou si celles-ci ne permettent pas d'identifier de manière certaine l'identité de l'auteur de la commande et la réalité de sa domiciliation, LA CHOUETTE SELLERIE se réserve le droit de ne pas accepter la commande. LA CHOUETTE SELLERIE se réserve également le droit de refuser une commande s'il existe un litige antérieur en cours sur le paiement ou bien un niveau de commande anormalement élevé.
                </p>
                <h6>Article 18.4. Livraison</h6>
                <p class="my-3">
                    Les E-cartes cadeaux imprimables ne sont pas expédiées. Elles sont disponibles en format PDF dans l’e-mail de confirmation de commande ou dans la rubrique « Mon compte, Mes commandes ». Une fois le PDF téléchargé, le Client peut imprimer sa ou ses E-cartes cadeaux. Les cartes cadeaux physiques sont expédiées du lundi au vendredi, hors jours fériés, par La Poste dans un colis colissimo avec signature. Les commandes qui concernent exclusivement l’achat de cartes cadeaux physiques ne génèrent pas de frais d’expédition quel que soit le montant total d’achat. Dans le cas d’une commande incluant des cartes cadeaux physiques et d’autres produits du Site, les frais de port, mentionnés avant la validation de la commande, sont facturés au Client, selon le produit de la commande, le lieu de destination et le mode d’expédition choisi lors de la validation de sa commande, pour un unique point de livraison, par commande et par Client, dans tous les pays sauf la Suisse. L'expédition des cartes cadeaux physiques est effectuée par La Poste. LA CHOUETTE SELLERIE s'efforce de respecter les délais de livraison. Toutefois, ceux-ci ne sont présentés qu'à titre indicatif, le retard de livraison ne pourra donner lieu à dommages et intérêts. La livraison peut être effectuée à une adresse différente de l'adresse de facturation sous réserve qu'elle soit correctement précisée lors du passage de commande. Le lieu de la livraison s'entend au bas (RDC) du bâtiment du Client, niveau zéro, sans contrainte ni risque pour le véhicule de livraison. Il est de la responsabilité du Client de s'assurer que les coordonnées qu'il a communiquées lors de sa commande sont correctes afin que la commande soit correctement expédiée et réceptionnée. En aucun cas la responsabilité de LA CHOUETTE SELLERIE ne pourra être retenue si le Client ou le destinataire ne reçoit pas sa commande en raison d'une erreur dans la saisie des coordonnées. En tout état de cause, il appartient au Client ou au destinataire d'assurer la réception. En l'absence du Client ou du destinataire, un avis de passage sera déposé à l'adresse de livraison. Les éventuels frais liés à une nouvelle présentation du transporteur seront à la charge du Client. Conformément à la règlementation en vigueur, il appartient au Client ou au destinataire de contrôler, devant le livreur, le contenu et l'aspect visuel du (des) colis pour vérifier qu’aucun article n’est détérioré ou manquant; dans le cas contraire le Client ou le destinataire doit apposer systématiquement des réserves sur le bordereau de livraison en précisant la nature des dégâts constatés. Pour être recevables, ces réserves doivent être confirmées impérativement par écrit (lettre recommandée avec AR) dans un délai de trois (3) jours, non compris les jours fériés, par le Client ou le destinataire auprès du transporteur. Il appartient au Client d'informer, par tout moyen LA CHOUETTE SELLERIE dans les mêmes délais. Dans le cas d’une E-carte cadeau adressée par email, la Carte Cadeau sera considérée comme réceptionnée par le destinataire dès lors que le e-mail aura été envoyé à l’adresse électronique renseignée par le Client. Nous conseillons aux Clients et aux destinataires de consulter les courriers indésirables de leur compte de messagerie, dans l’hypothèse où l’e-mail adressé n’arriverait pas directement dans leur boite mail. En cas de non réception de l’e-mail par le destinataire, le Client pourra le retrouver en se connectant à son compte dans la rubrique "mes cartes cadeaux". Il suffira au Client de télécharger le PDF et de le renvoyer à la bonne adresse mail du destinataire. Il est précisé que le Client et les destinataires sont responsables de leur messagerie électronique et des personnes y ayant accès. À ce titre, la responsabilité de LA CHOUETTE SELLERIE ne pourra en aucun cas être engagée et notamment en cas d’utilisation de la Carte Cadeau par une autre personne que le destinataire.
                </p>
                <h6>Article 18.5. Obligations du client</h6>
                <p class="my-3">
                    Le Client s'engage à informer tout destinataire de produits Carte Cadeau LA CHOUETTE SELLERIE de leur date limite de validité et de leurs conditions d'utilisation. Toute utilisation postérieure à cette date et/ou ne respectant pas les conditions d'utilisation ne peut en aucun cas engager la responsabilité de LA CHOUETTE SELLERIE.
                </p>
                <h6>Article 18.6. Echange / Renouvellement / Perte / Vol</h6>
                <p class="my-3">
                    Les Cartes Cadeaux sont non remboursables et non échangeables, notamment en cas de perte / vol. En cas de perte, vol ou destruction, la Carte Cadeau peut être mise en opposition sur le montant restant au moment de la mise en opposition. Cette mise en opposition se fait à partir du numéro de la Carte Cadeau en prenant contact avec le service clients LA CHOUETTE SELLERIE ou un vendeur en magasin.
                </p>
                <h6>Article 18.7. Interdiction de revente</h6>
                <p class="my-3">
                    Notre politique commerciale interdit formellement la revente de Cartes Cadeaux sous quelque forme que ce soit. A titre de clause pénale, toute constatation établie par LA CHOUETTE SELLERIE d'une violation par le Client de l'une de ses obligations pourra entraîner, sur l'initiative de LA CHOUETTE SELLERIE, l'exigibilité immédiate d'une pénalité contractuelle d'un montant de 7 000 € HT, non libératoire des éventuelles indemnités qui pourraient lui être dues au titre du préjudice subi.
                </p>
                <h6>Article 18.8. Réserve de propriété</h6>
                <p class="my-3">
                    Les Cartes Cadeaux vendues demeurent la pleine et entière propriété de LA CHOUETTE SELLERIE jusqu'à leur complet paiement. Toutefois dès la livraison, tous les risques sont transférés au Client ou au destinataire qui doit s'assurer en conséquence. En cas de revendication, LA CHOUETTE SELLERIE se réserve le droit de procéder au recouvrement de ses créances, par tous moyens.
                </p>
                <h6>Article 18.9. Relation client</h6>
                <p class="my-3">
                    Pour toute question, information ou réclamation, nous sommes à la disposition du Client : Par email :<br>
                    contact@lachouettesellerie.fr. Par courrier à l'adresse suivante : 37 rue de Mulhouse 21000 Dijon
                </p>
                <h5>Article 19. Modification des Conditions Générales</h5>
                <p class="my-3">
                    Les présentes Conditions Générales s’appliquent à tous les achats effectués en ligne sur le SITE, tant que le SITE est disponible en ligne.<br>
                    Les Conditions Générales sont datées de manière précise et pourront être modifiées et mises à jour par le VENDEUR à tout moment. Les Conditions Générales applicables sont celles en vigueur au moment de la commande.<br>
                    Les modifications apportées aux Conditions Générales ne s’appliqueront pas aux PRODUITS déjà achetés.
                </p>
                <h5>Article 20. Compétence et droit applicable</h5>
                <p class="my-3">
                    Les présentes Conditions Générales ainsi que les relations entre le CLIENT et le VENDEUR sont régies par le droit français.<br>
                    En cas de litige, seuls les tribunaux français seront compétents.<br>
                    Toutefois, préalablement à tout recours au juge arbitral ou étatique, le Client est invité à contacter le service réclamation du VENDEUR.<br>
                    Si aucun accord n’est trouvé, sera alors proposée une procédure de médiation facultative, menée dans un esprit de loyauté et de bonne foi en vue de parvenir à un accord amiable lors de la survenance de tout conflit relatif au présent contrat, y compris portant sur sa validité.
                </p>
                <h5>ANNEXE 1</h5>
                <h5>POLITIQUE DE RETRACTATION / RETOUR ET ECHANGES</h5>
                <br>
                <h6>Principe de rétractation</h6>
                <p class="my-3">
                    Le CLIENT dispose par principe du droit de se rétracter en renvoyant ou en restituant le PRODUIT au VENDEUR.
                </p>
                <h6>Délai de rétractation</h6>
                <p class="my-3">
                    Le délai de rétractation expire trois cent soixante-cinq (365) jours calendaires après le jour où le CLIENT, ou un tiers autre que le transporteur et désigné par le CLIENT, prend physiquement possession du PRODUIT.<br>
                    Dans le cas où le CLIENT aurait commandé plusieurs PRODUITS via une seule commande donnant lieu à plusieurs LIVRAISONS (ou dans le cas d’une commande d’un seul PRODUIT livré en plusieurs lots), le délai de rétractation expirera trois cent soixante-cinq (365) jours calendaires après le jour où le CLIENT, ou un tiers autre que le transporteur et désigné par le CLIENT, prend physiquement possession du dernier PRODUIT livré.<br>
                    Si la commande du CLIENT porte sur plusieurs PRODUITS et si ces PRODUITS sont livrés séparément, le délai de rétractation expire trois cent soixante-cinq (365) jours après le jour où le CLIENT, ou un tiers autre que le transporteur et désigné par le CLIENT, prend physiquement possession du dernier PRODUIT.
                </p>
                <h6>Notification du droit de rétractation</h6>
                <p class="my-3">
                    Pour exercer son droit de rétractation, le CLIENT doit faire une demande de retour en indiquant le motif et la quantité de l'article retourné via le site dans la rubrique Faire un retour.<br>
                    LA CHOUETTE SELLERIE SERVICE RETOUR, 37 rue de Mulhouse, 21000 Dijon.
                </p>
                <h6>Effets de la rétractation</h6>
                <p class="my-3">
                    En cas de rétractation de la part du CLIENT, le VENDEUR s’engage à rembourser la totalité des sommes versées, y compris les frais de livraison (à l’exception des frais supplémentaires découlant , le cas échéant, du choix par le CLIENT d’un mode de livraison autre que le mode de livraison standard proposé par le VENDEUR) sans retard excessif et, en tout état de cause, au plus tard quatorze (14) jours à compter du jour où le VENDEUR réceptionnera le PRODUIT retourné.<br>
                    Le VENDEUR procédera au remboursement en utilisant le même moyen de paiement que celui que le CLIENT aura utilisé pour la transaction initiale, sauf si le CLIENT convient expressément d’un moyen différent, en tout état de cause, ce remboursement n’occasionnera pas de frais pour le CLIENT.<br>
                    Le VENDEUR peut différer le remboursement jusqu’à réception du bien ou jusqu’à ce que le CLIENT ait fourni une preuve d’expédition du bien, la date retenue étant celle du premier de ces faits.
                </p>
                <h6>Modalités de retour</h6>
                <p class="my-3">
                    L'échange et le retour sont possibles en magasins (échange ou avoir uniquement).<br>
                    Le remboursement est possible seulement après renvoi du produit au service des expéditions de LACHOUETTESELLERIE.FR.<br>
                    Aucun échange via le site, il est nécessaire de retourner l'article qui ne convient pas et de passer une nouvelle commande.<br>
                    Le CLIENT devra, sans retard excessif et, en tout état de cause, au plus tard trois cent soixante-cinq (365) jours après communication de sa décision de se rétracter du présent contrat, renvoyer le bien, à :<br>
                    LA CHOUETTE SELLERIE SERVICE RETOUR, 37 rue de Mulhouse, 21000 Dijon.<br>
                    Ce délai est réputé respecté si le CLIENT renvoie le bien avant l’expiration du délai de trois cent soixante-cinq (365) jours.<br>
                    À réception du colis retour, le PRODUIT retourné sera remboursé dans un délai maximum de quatorze (14) jours.<br>
                    Pour tout échange via le site, nous vous invitons à passer une nouvelle commande.<br>
                    En cas d’erreur de livraison, les frais de port retour et de réacheminement seront à la charge de LACHOUETTESELLERIE.FR.
                </p>
                <h6>Frais de retour</h6>
                <p class="my-3">
                    Le CLIENT devra prendre en charge les frais directs de renvoi du PRODUIT.<br>
                    Dans le cas où le poids du PRODUIT empêcherait le CLIENT de retourner ce PRODUIT par la Poste, Le CLIENT devra prendre en charge les frais directs de renvoi du bien.<br>
                    Les frais effectivement supportés par le CLIENT dépendront du transporteur choisi par ce dernier pour retourner le PRODUIT.
                </p>
                <h6>Etat du bien retourné</h6>
                <p class="my-3">
                    Le PRODUIT doit être retourné suivant les consignes du VENDEUR et comporter notamment tous les accessoires livrés.<br>
                    Ainsi, les PRODUITS doivent être retournés avec tous les accessoires, dans leur emballage d’origine, neufs et accompagnés d’une copie de la facture d’achat et du numéro de retour sur le colis.<br>
                    La responsabilité du CLIENT n’est engagée qu’à l’égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce PRODUIT. En d’autres termes, le CLIENT dispose de la possibilité de tester le PRODUIT mais sa responsabilité pourra être engagée s’il procède à des manipulations autres que celles qui sont nécessaires.
                </p>
                <h6>Exclusions du droit de rétractation</h6>
                <p class="my-3">
                    Pour rappel, le droit de rétractation est exclu dans les hypothèses suivantes :<br>
                    -Fourniture de biens ou de services dont le prix dépend de fluctuation sur le marché financier<br>
                    -Fourniture de biens confectionnés selon les spécifications du CLIENT ou nettement personnalisés<br>
                    -Fourniture de biens susceptibles de se détériorer ou de se périmer rapidement<br>
                    -Fourniture d’enregistrements audio ou vidéo ou logiciels scellés qui ont été descellés après livraison<br>
                    -Journal, périodique, magazine (sauf contrat d’abonnement)<br>
                    -Prestation de services d’hébergement autres qu’à des fins résidentielles, de transport de biens, de location de voitures, de restauration ou de services liés à des activités de loisirs si l’offre prévoit une date ou une période d’exécution spécifique<br>
                    -Fourniture de biens qui par leur nature sont mélangés de manière indissociable à d’autres articles<br>
                    -Fournitures de biens scellés ne pouvant être renvoyés pour des raisons de protection de la santé ou d’hygiène et qui ont été descellés par le CLIENT après la LIVRAISON<br>
                    -la fourniture de boissons alcoolisées dont le prix a été convenu au moment de la conclusion du contrat de vente, dont la livraison ne peut être effectuée qu’après 30 jours et dont la valeur réelle dépend de fluctuation sur le marché échappant au contrôle du VENDEUR<br>
                    -Fourniture d’un contenu numérique non fourni dématérialisé si l’exécution a commencé avec l’accord préalable exprès du consommateur, lequel a également reconnu qu’il perdra ainsi son droit de rétractation<br>
                    -les contrats conclus lors d’une enchère publique<br>
                    En conséquence, les livres, DVD, les protections de tête, les produits périssables, les sous-vêtements ne sont ni repris, ni échangés, ni remboursés de même que les articles personnalisés avec initiales ou signatures.
                </p>
                <h5>ANNEXE 2 : </h5>
                <h5>POLITIQUE DE LIVRAISON</h5>
                <h6>Zone de livraison</h6>
                <p class="my-3">
                    Les PRODUITS proposés ne peuvent être livrés que sur le TERRITOIRE.<br>
                    Il est impossible de passer une commande pour toute adresse de livraison située en dehors de ce TERRITOIRE.<br>
                    Les PRODUITS sont expédiés à (aux) l'adresse(s) de livraison que le CLIENT aura indiquée(s) au cours du processus de commande.<br>
                    LACHOUETTESELLERIE.FR ne livre pas la Suisse.
                </p>
                <h6>Délai d’expédition</h6>
                <p class="my-3">
                    Les délais pour préparer une commande puis établir la facture, avant expédition des PRODUITS en stock sont mentionnés sur le SITE. Ces délais s’entendent hors weekends ou jours fériés.<br>
                    Un message électronique sera automatiquement adressé au CLIENT au moment de l’expédition des PRODUITS, à condition que l’adresse électronique figurant dans le formulaire d’inscription soit correcte.
                </p>
                <h6>Délais & Frais de livraison</h6>
                <p class="my-3">
                    Au cours du processus de commande, Le VENDEUR indique au CLIENT les délais et formules d'expédition possibles pour les PRODUITS achetés.<br>
                    Le délai moyen de livraison est de 5 à 8 jours ouvrés.<br>
                    Pour les livraisons autres que la France métropolitaine, le délai d’acheminement est de 8 à 21 jours ouvrables, selon les destinations.<br>
                    Pendant la période des Soldes, les délais de livraison sont de quinze (15) jours ouvrés.<br>
                    Les coûts d'expédition sont calculés en fonction du mode de livraison.<br>
                    Le montant de ces coûts sera dû par le CLIENT en sus du prix des PRODUITS achetés.
                </p>
                <h7>Frais de Port France Métropolitaine</h7>
                <p class="my-3">
                Commande inférieure à 49 € : 5.90 €<br>
                Livraison gratuite à partir de 49,00 € TTC.<br>
                Pour le matériel volumineux, un devis sera proposé dans le panier avant facturation, tenant compte du poids et volume du produits à expédier.<br>
                L’expédition de certains articles lourds (produits en gros conditionnement, selle, etc.) entraîne un surcoût qui sera ajouté au montant total de votre panier lors de la validation de la commande.
                </p>
                <h7>Frais de Port Union Européenne</h7>
                <p class="my-3">
                    Les frais de port sont calculés en fontion du poids de la commande.<br>
                    Pour le matériel volumineux un devis sera proposé dans le panier avant facturation, tenant compte du poids et volume du produits à expédier..
                </p>
                <h7>Frais de Port DOM-TOM</h7>
                <p class="my-3">
                    Le montant des frais de port pour une expédition Dom-Tom est forfaitaire par rapport au poids de la commande.
                </p>
                <h7>Frais de Port Autres Destinations</h7>
                <p class="my-3">
                    Le montant des frais de port pour une expédition hors France métropolitaine et Union Européenne est forfaitaire par rapport au poids de la commande.<br>
                    Le montant des frais d'expédition sera indiqué dans le panier avant facturation, l'acheteur aura la faculté d'accepter ou de le refuser.
                </p>
                <h6>Modalités de LIVRAISON</h6>
                <p class="my-3">
                    Le colis sera remis au CLIENT sans signature ou en cas d'absence pourra être déposé dans sa boite aux lettres.<br>
                    En cas d'absence et de boîte aux lettres trop petite, un avis de passage sera laissé au CLIENT, afin de lui permettre d'aller chercher son colis dans son bureau de poste.
                </p>
                <h6>Problèmes de LIVRAISON</h6>
                <p class="my-3">
                    Le CLIENT est informé de la date de livraison fixée au moment où il choisit le transporteur, à la fin de la procédure de commande en ligne, avant de confirmer la commande.<br>
                    En cas de retard de livraison dans les 15 jours ouvrés suivant la date de livraison indiquée lors de la commande, le CLIENT est invité à prendre contact auprès du service LACHOUETTESELLERIE.FR, qui ouvrira une enquête auprès des services de La Poste.<br>
                    A cet égard, LACHOUETTESELLERIE.FR pourra demander de fournir les documents nécessaires à la mise en place de cette enquête (tels que numéro de suivi du colis, copie d’une carte d’identité, attestation d’adresse, lettre sur l’honneur de non réception du colis, etc.).<br>
                    Cette enquête peut durer jusqu’à 30 à 60 jours ouvrés à compter de sa date d’ouverture. A l’issue de ce délai, le colis sera considéré comme perdu et le CLIENT pourra demander la résiliation du contrat.<br>
                    Il est rappelé qu'aucun remboursement ou renvoi du produit ne pourra être effectué avant la clôture de l'enquête.<br>
                    Le VENDEUR remboursera, sans retard excessif et dans les quatorze (14) jours à compter de la réception de la lettre de résiliation, au CLIENT le montant total payé pour les PRODUITS, taxes et frais de livraison inclus, au moyen du même mode de paiement que celui utilisé par le CLIENT pour acheter les PRODUITS.<br>
                    Le VENDEUR est responsable jusqu’à la LIVRAISON du PRODUIT au CLIENT. Il est rappelé que le CLIENT dispose d’un délai de trois (3) jours pour notifier au transporteur les avaries ou pertes partielles constatées lors de la livraison.
            </div>
        </div>
    </div>
{% endblock %}



