{% extends 'base.html.twig' %}

{% block title %} Mentions Légales {% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row col-10">

            <div class="col-10 offset-2 text-left text-wrap">
                <p class="my-5">
                    Le site web www.lachouettesellerie.fr est édité et géré par :
                    <br>
                    <br>
                    LA CHOUETTE SELLERIE<br>
                    <br>
                    URL du site : www.lachouettesellerie.fr<br>
                    37 rue de Mulhouse - 21000 Dijon - France<br>
                    SAS au capital de 100 000 euros<br>
                    RCS Dijon 000 000 000<br>
                    SIRET : 00000000000000<br>
                    TVA Intracommunautaire : 00000000000<br>
                    E-Mail : contact@lachouettesellerie.fr<br>
                    Directeur de publication : Eva Locatelli<br>
                </p>
                <p class="my-5">
                    Hébergeur :<br>
                    OVH<br>
                    2 rue Kellermann<br>
                    59100 Roubaix<br>
                    France<br>
                </p>
                <p class="my-5">
                    Pour nous joindre :<br>
                    Utilisez notre formulaire de contact.<br>
                    LACHOUETTESELLERIE.FR et les logos LA CHOUETTE SELLERIE sont des marques déposées de LA CHOUETTE SELLERIE<br>
                </p>
                <p class="my-5">
                    Conformément à la loi n°78-17 du 6 janvier 1978, le traitement d'informations personnelles a fait l'objet d'une déclaration préalable auprès de la CNIL.<br>
                    Conformément à l'article 27 de la loi n°78-17 du 6 janvier 1978, l'utilisateur est informé que les données personnelles<br>
                    qu'il communique, notamment en remplissant les formulaires présents sur le site pourront être transmises.<br>
                    Conformément à l'article 34 de la loi n°78-17 du 6 janvier 1978, l'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant en adressant sa demande à l'adresse du siège social figurant ci-dessus ou par mail à : contact@lachouettesellerie.fr<br>
                </p>
                <p class="my-5">
                    LA CHOUETTE SELLERIE décline toute responsabilité quant à l'usage qui peut être fait des informations diffusées sur son site. Le contenu du site peut comporter des inexactitudes techniques, erreurs typographiques ou omissions.<br>
                </p>
                <p class="my-5">
                    Ce contenu peut être modifié ou mis à jour sans préavis.<br>
                </p>
                <p class="my-5">
                    Les éventuels liens hypertextes présents sur le site LA CHOUETTE SELLERIE qui aiguillent les utilisateurs vers d'autres sites Internet n'engagent pas la responsabilité de LA CHOUETTE SELLERIE quant au contenu des autres sites.<br>
                </p>
                <p class="my-5">
                    LA CHOUETTE SELLERIE ne saurait être responsable de tout dommage direct ou indirect résultant ou consécutif à la diffusion par une tierce personne d'un virus par l'intermédiaire de notre site et susceptible d'infecter le système informatique ou la configuration informatique de l'ordinateur de l'utilisateur à la suite d'une connexion, l'utilisation, la navigation, téléchargement à ce site.<br>
                </p>
                <p class="my-5">
                    Le site, sa structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire, dessins, graphismes, documents téléchargeables, représentations iconographiques et tout autre élément composant le site, sont la propriété de LA CHOUETTE SELLERIE. Il en est de même des marques de LA CHOUETTE SELLERIE et de ses partenaires, ainsi que les logos figurant sur le site.<br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}