{% extends 'base.html.twig' %}



{% block title %}
    Nous connaitre
{% endblock %}

{% block body %}

    <main class="container">
        {# titre de la page #}
        <h1 class=" text-center text-uppercase text-weight-bold mt-3">Mieux nous connaitre</h1>
        {# section histoire #}
        <div class="row">
            <h2> Notre histoire </h2>
            <p class=""><img src="{{ asset('img/produit/12.jpg') }}" alt="La créatrice et son cheval"
                             class="imgNousconaitre float-start me-4 rounded shadow-lg">La Chouette Sellerie est une
                entreprise créée en 2020 par Eva Locatelli, agée de 23 ans. Issue d'une famille d'entrepreneurs
                dijonnais du BTP, Eva a suivi un Bac Science du Management et de la Gestion, ainsi qu’un Bac+2
                spécialisé dans le domaine de la physiothérapie équine.
                <br>
                <br>
                Un bref passage dans l'immobilier l'ayant laissé sur sa faim, elle décide de concrétiser l'une des
                nombreuses idées qui bouillonnent en elle : ouvrir une sellerie façonnée à son image.
                <br>
                <br>
                Sa famille étant propriétaire d'un local à proximité d'un point névralgique du centre-ville de Dijon, La
                Place de la
                République, elle a profité de cet emplacement idéal pour faire à son tour ses preuves dans
                l'entrepreneuriat en ouvrant, avec une amie,
                une boutique haut de gamme spécialisée dans le monde équestre afin de pouvoir vivre leur passion pour
                les chevaux à leur manière.
            </p>
        </div>

        {# section logo #}
        <h2>Notre logo</h2>

        <p><img src="{{ asset('img/LOGO CS.png') }}" alt="logo du site" class="float-end"> Une chouette ? Pour une
            sellerie ? Traditionnellement, la chouette est l'emblème de la ville de Dijon. Oiseau synonyme de sagesse,
            nécessaire à la gestion des affaires, la famille Locatelli a fait de ce nocturne son animal-totem, et les
            trois étoiles qui la couronnent sont son porte-bonheur. Le fer à cheval, qui attire la chance comme un
            aimant, rappelle les accessoires équestres qui forment le coeur de l'activité du magasin.</p>

        {# section valeurs #}
        <h2>Nos valeurs</h2>

        <p>L'équipe de La Chouette Sellerie se consacre aux chevaux et à ceux qui les aiment. Elle prend donc soin de
            leur proposer des produits qui correspondent aux valeurs qui lui sont chères. </p>
        <div class="photo">
            <img src="{{ asset('img/produit/11.jpg') }}" alt="cheval au manège équestre"
                 class="imgNousconaitre2 rounded shadow-lg">
        </div>
        <ul class="listValues">
            <li>La Passion</li>
        </ul>
        <p>Familiale et conviviale, l'équipe aime apporter son expertise des produits équins et donne à ses
            clients l’opportunité de retrouver la belle énergie présente dans un centre équestre. Elle porte un soin
            tout particulier à conseiller au mieux ses visiteurs afin de répondre au mieux à leur besoin et celui de
            leur animal.</p>
        <ul class="listValues">

            <li>L'Exigence</li>
        </ul>
        <p>La Chouette Sellerie propose essentiellement des produits haut de gamme, car le confort, l'esthétique et les
            performances des produits qu'elle choisit doit être irréprochable. La qualité avant tout ! </p>
        <ul class="listValues">
            <li>La Proximité</li>
        </ul>

        <p>Proche de ses clients et proches de ses fournisseurs, l'équipe a choisi de privilégier le "Made in France",
            gage de sérieux et de qualité, et de proposer des produits en exclusivité sur le département. Elle
            privilégie des circuits courts et soutient l'économie locale et responsable.</p>
        <ul class="listValues">
            <li>La Nature</li>
        </ul>
        <p>Le bien-être animal est une autre priorité de l'équipe. Les produits proposés apportent le meilleur pour le
            confort et la santé des chevaux comme ds chiens. La préocupation environnementale est également au centre de
            leur démarche et le recyclage et l'upcycling sont valorisés à toutes les étapes de la vie de la
            sellerie.</p>


    </main>
{% endblock %}

