/*importation de la police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*définitions de sconstantes couleurs pour le site*/
:root{
    --main-blue-color: #140C61;
    --main-gold-color: #F3D30F;
}
/*CSS de la page principale*/
body{
/*fonte principale*/
/*    font-family: 'Cormorant Garamond', serif;*/
    font-family: 'Roboto', sans-serif;
}
/*main*/
section {
    display: flex;
}

body {
    color: var(--main-blue-color);
}

.bg-bleumarine{
    background-color: var(--main-blue-color);

}
.text-gold{
    color: var(--main-gold-color);
}

i .fas {
    color: var(--main-gold-color);
}



.boutique{
    font-size: 3rem;

}



@media (min-width: 1020px){
    #teampic{
        background-image: url("../img/produit/chouetteSellerieTeam.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        box-shadow: 0 0 8px 8px white inset;


    }
    #bois{
        background-image: url("../img/photobois.jpg");
        background-size: contain;
        height: 900px;
        box-shadow: 0 0 8px 8px white inset;

    }
    .overlay{
        background-color: rgb(0,0,0,0.50);
    }

}
