/*importation de la police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*définitions de sconstantes couleurs pour le site*/
:root{
    --main-blue-color: #140C61;
    --main-gold-color: #F3D30F;
}
/*CSS de la page principale*/
body{
/*fonte principale*/
/*    font-family: 'Cormorant Garamond', serif;*/
    font-family: 'Roboto', sans-serif;
}

/* styles
 /du main*/

.bg-gold{
    background-color: var(--main-gold-color);
}
.productDetail{
    position: absolute;
    bottom: 5px;
    right: 15px;
}

body {
    color: var(--main-blue-color);
}

.bg-bleumarine{
    background-color: var(--main-blue-color);

}
.text-gold{
    color: var(--main-gold-color);
}

i .fas {
    color: var(--main-gold-color);
}



.boutique{
    font-size: 3rem;

}

.newsButton{
    position: absolute;
    bottom: 5px;
}


/*style texte page historique*/

h2{
    font-size: 2rem;
}
.listValues >li{
    font-weight: bold;
    font-size: 1.5rem;
}
.imgNousconaitre{
    width: 250px;
}
.imgNousconaitre2{
    width: 300px;
}
.imgnews{
    width: 300px;
}

/* media query pour la photo de déco accueil*/
@media (min-width: 1025px){
    #teampic{
        background-image: url("../img/9.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        box-shadow: 0 0 8px 8px white inset;


    }
}
