{% extends 'base.html.twig' %}


{% block title %}Création d'une news{% endblock %}

{% block body %}
    <div class="container">
    <h1>Bienvenue dans la salle de rédaction de La Chouette Sellerie</h1>
        <div class="row">
            <div class="col-10 offset-1">
    {{ form(form) }}

            </div>
        </div>


    </div>

{% endblock %}





