{% extends 'base.html.twig' %}


{% block title %}Création d'une news{% endblock %}

{% block body %}

    <
    <h1>Bienvenue dans la salle de rédaction de La Chouette Sellerie</h1>

    {{ form(form) }}

{% endblock %}





