{% extends 'base.html.twig' %}


{% block title %}Création d'une news{% endblock %}

{% block body %}

    <p>Bienvenue dans la salle de rédaction de Chouette Sellerie</p>
    <h1>Formulaire de création</h1>

    {{ form(form) }}

{% endblock %}





