{% extends 'base.html.twig' %}


{% block title %}Administration des news{% endblock %}

{% block body %}

    <p>Bienvenue sur le journal de Chouette Sellerie. Que souhaitez vous faire ?</p>
<div>
    <h1>Hello Chouette Sellerie ! </h1>
</div>





{% endblock %}
