{% extends 'base.html.twig' %}

{% if is_granted('ROLE_ADMIN') %}
    <p>Bienvenue sur le journal de Chouette Sellerie. Que souhaitez vous faire ?</p>
{% endif %}

{% block title %}Administration des news{% endblock %}

{% block body %}
<div>
    <h1>Hello Chouette Sellerie ! </h1>
</div>




{% endblock %}
